<%- include('partials/header') %>
<h1>
    <%= category.name %>
</h1>

<h2>Service Projects in this Category</h2>

    <ul>
        <% projects.forEach(project=> { %>
            <li>
                <a href="/project/<%= project.project_id %>">
                    <%= project.title %>
                </a>

                <br>

                Organization:
                <a href="/organization/<%= project.organization_id %>">
                    <%= project.organization_name %>
                </a>
            </li>
        <% }); %>
    </ul>
<%- include('partials/footer') %>